
@{
    ViewData["Title"] = "Listado de Proyectos";
}


<div class="container">
    <h1>Mis Proyectos</h1>
    <p>Todos los proyectos Desarrollados</p>

</div>
    <partial name="_ListadoProyectos" model="Model" />